<div
  class="area-card"
  [ngClass]="span === 6 ? 'area-card--span-6' : 'area-card--span-3'"
  (mouseenter)="hover.set(true)"
  (mouseleave)="hover.set(false)"
>
  <div class="area-card__header">
    <div class="area-card__icon">
      <span class="material-symbols-outlined">{{ area.icon }}</span>
    </div>
  </div>

  <div class="area-card__content">
    <h3 class="area-card__title">{{ area.title }}</h3>
    <p class="area-card__description" *ngIf="area.description">
      {{ area.description }}
    </p>
  </div>

</div>
